.tweeter {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b87b00;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0.5em;
}

.avatar {
  margin-bottom: -2em;
}

@media (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  .tweeter {
    width: 40%;
    margin-top: 1em;
    margin-left: 0.5em;
  }
}