nav {
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  font-family: 'Bungee';
  padding: 2em;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 2em;
}

.make-a-tweet {
  display: flex;
  flex-direction: column;
}

.moto {
  font-size: 1em;
  font-family: 'Source Sans Pro';
  margin-bottom: 0.15em;
}

@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.2em); }
}

.tweet {
  font-size: 2rem;
  color: crimson;
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  margin: auto;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.tweet:hover {
  color: #ffffff
}


@media (max-width: 375px) {
  /* CSS rules that target mobile phones */
  nav {
    padding: 1em;
  }
  .logo {
    font-size: 1.5em;
  }
  .moto {
    font-size: 0.5em;
  }
}