nav {
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  font-family: 'Bungee';
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.moto {
  font-family: 'Source Sans Pro';
}

.logo {
  font-size: 50px;
}
