.new-tweet {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.new-tweet h2 {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 30px;
}

.new-tweet textarea {
  border: none;
  outline: none;
  background-color: #f4f1ec;
  border-bottom-style: solid;
  font-weight: bold;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet footer {
  font-family: 'Bungee';
  margin-top: 0.25em;
  display: flex;
  justify-content: space-between;
}
.new-tweet footer button{
  border-style: none;
  border-radius: 5px;
  font-family: 'Bungee';
  color: #f4f1ec;
  background-color: #4056a1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.new-tweet button:hover{
  background-color: #d6c400;
}